body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f8;
  color: #333;
}

header {
  background: #24292f;
  color: white;
  padding: 2rem;
  text-align: center;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

section {
  margin-bottom: 2rem;
}

button {
  padding: 10px 16px;
  background: #2da44e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #238636;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #eaeaea;
}

.danger-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 22px;
  background: #8b0000;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid black;
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.mensaje-body {
  background: black;
  overflow: hidden;
  height: 100vh;
}

.mensaje {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: red;
  animation: bajar 6s linear infinite;
}

@keyframes bajar {
  from {
    top: -100px;
  }
  to {
    top: 100vh;
  }
}
