/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  background: #000;
}

/* HEADER (10% de la pantalla) */
.header {
  height: 10vh;
  background-color: #0e0e0e;
  display: flex;
  align-items: center;
  padding: 0 32px;
  gap: 14px;
}

/* LOGO */
.logo {
  height: 40px;
  width: auto;
}

/* TEXTO CUBO */
.title {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px;
}

/* MAIN (90% restante) */
.main {
  height: 90vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMAGEN CENTRAL */
.center-image {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}

.logo,
.center-image {
  filter: invert(1);
}

.logo {
  height: clamp(200px, 5vh, 150px);
  width: auto;
  filter: invert(1);
}

